body {
  margin: 0;
  overlow: hidden; }

* {
  box-sizing: border-box; }

label {
  font-weight: bold; }

.forceHeight, main, .rightContent {
  min-height: 100%;
  height: 100%; }

.sideBar ul, .sideBar ul li {
  margin: 0;
  padding: 0; }

.sideBar ul, .sideBar ul li {
  list-style-type: none; }

main:after, .qwerty:after {
  content: "";
  display: table;
  clear: both; }

.save label input, .save label button, .centerButtons button {
  text-align: center;
  display: inline-block;
  padding: 5px;
  width: 35%;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
  background-color: #166844;
  color: white;
  font-weight: 100;
  border: 1px solid transparent;
  margin: 2px; }
  .save label input:hover, .save label button:hover, .centerButtons button:hover {
    background-color: #23A76D;
    box-shadow: 1px 1px 0px black; }

.sideBar input, .qwertyColleft input, .qwertyColright form textarea, .nameClass input {
  background-color: #393A3C;
  border: 1px solid #3D7663;
  border-radius: 0;
  color: white; }
  .sideBar input:focus, .qwertyColleft input:focus, .qwertyColright form textarea:focus, .nameClass input:focus {
    border: 1px solid #3D7663; }

.datesAndcomments .dates input, .datesAndcomments .typeOfVacation label select, .datesAndcomments .comments input, .datesAndcomments input {
  background-color: #393A3C;
  border: 1px solid #3D7663;
  border-radius: 0;
  color: white;
  padding: 10px; }

.sideBar input, .qwerty input, .qwerty textarea, .save label button, .datesAndcomments .addDates input, .datesAndcomments .dates input, .datesAndcomments .typeOfVacation label select, .datesAndcomments .comments input, .datesAndcomments input, .datesAndcomments input:disabled, .comments input, .numOfDays input, .centerButtons button {
  transition: 0.2s ease-in-out; }
  .sideBar input:focus, .qwerty input:focus, .qwerty textarea:focus, .save label button:focus, .datesAndcomments .typeOfVacation label select:focus, .datesAndcomments input:focus, .comments input:focus, .numOfDays input:focus, .centerButtons button:focus {
    border-color: #3D7663;
    box-shadow: 0 1px 1px #3D7663 inset, 0 0 8px #3D7663;
    outline: 0 none;
    transition: 0.2s ease-in-out; }

.activeTab:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #10ff25;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 20px;
  bottom: 78px;
  margin: auto;
  left: 0;
  right: 0; }

@font-face {
  font-family: "Interstate-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/Interstate-Regular.eot");
  src: url("../assets/fonts/Interstate-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Interstate-Regular.woff") format("woff"), url("../assets/fonts/Interstate-Regular.ttf") format("truetype"), url("../assets/fonts/Interstate-Regular.svg#Interstate-Regular") format("svg"); }
@font-face {
  font-family: "Interstate-Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/Interstate-Bold.eot");
  src: url("../assets/fonts/Interstate-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Interstate-Bold.woff") format("woff"), url("../assets/fonts/Interstate-Bold.ttf") format("truetype"), url("../assets/fonts/Interstate-Bold.svg#Interstate-Bold") format("svg"); }
@font-face {
  font-family: "Interstate-Light";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/Interstate-Light.eot");
  src: url("../assets/fonts/Interstate-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Interstate-Light.woff") format("woff"), url("../assets/fonts/Interstate-Light.ttf") format("truetype"), url("../assets/fonts/Interstate-Light.svg#Interstate-Light") format("svg"); }
@font-face {
  font-family: "Interstate-Black";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/Interstate-Black.eot");
  src: url("../assets/fonts/Interstate-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Interstate-Black.woff") format("woff"), url("../assets/fonts/Interstate-Black.ttf") format("truetype"), url("../assets/fonts/Interstate-Black.svg#Interstate-Black") format("svg"); }
@font-face {
  font-family: "TMSans-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TMSans-Regular.eot");
  src: url("../assets/fonts/TMSans-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TMSans-Regular.woff") format("woff"), url("../assets/fonts/TMSans-Regular.ttf") format("truetype"), url("../assets/fonts/TMSans-Regular.svg#TMSans-Regular") format("svg"); }
@font-face {
  font-family: "TMSans-Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TMSans-Bold.eot");
  src: url("../assets/fonts/TMSans-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TMSans-Bold.woff") format("woff"), url("../assets/fonts/TMSans-Bold.ttf") format("truetype"), url("../assets/fonts/TMSans-Bold.svg#TMSans-Bold") format("svg"); }
@font-face {
  font-family: "TMSans-Light";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TMSans-Light.eot");
  src: url("../assets/fonts/TMSans-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TMSans-Light.woff") format("woff"), url("../assets/fonts/TMSans-Light.ttf") format("truetype"), url("../assets/fonts/TMSans-Light.svg#TMSans-Light") format("svg"); }
@font-face {
  font-family: "TMSans-Ialic";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TMSans-Italic.eot");
  src: url("../assets/fonts/TMSans-Italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TMSans-Italic.woff") format("woff"), url("../assets/fonts/TMSans-Italic.ttf") format("truetype"), url("../assets/fonts/TMSans-Italic.svg#TMSans-Ialic") format("svg"); }
.sideBar input::-webkit-input-placeholder, .sideBar ul li, .cardTab, .dataTabs .informationTabs, .qwertyColleft span, .datesAndcomments, .datesAndcomments .dates input, .datesAndcomments .typeOfVacation label select, .datesAndcomments .comments input, .datesAndcomments input, label, .sideBar h3, .datesAndcomments .addDates input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.sideBar input::-webkit-input-placeholder, .sideBar ul li, .cardTab, .dataTabs .informationTabs, .qwertyColleft span, .datesAndcomments, .datesAndcomments .dates input, .datesAndcomments .typeOfVacation label select, .datesAndcomments .comments input, .datesAndcomments input {
  font-family: 'Interstate-Regular', 'TMSans-Bold', 'Helvetica', 'Arial'; }

label, .sideBar h3, .datesAndcomments .addDates input[type="submit"] {
  font-family: 'Interstate-Bold', 'TMSans-Bold', 'Helvetica', 'Arial'; }

main.active .sideBar {
  width: 0;
  padding: 0;
  transition: 0.2s ease-in-out; }
  main.active .sideBar h3 {
    display: none; }
  main.active .sideBar form > * {
    display: none; }
  main.active .sideBar ul > li {
    display: none; }
main.active .rightContent {
  width: 100%; }
main.active .sidebarTag {
  left: 0;
  transition: 0.2s ease-in-out; }
main.active .sidebarTag {
  width: 200px; }

html, body {
  height: 100%;
  font-weight: 100; }

.inputError {
  border-color: #cf8300 !important; }

.dateInputError {
  border-color: #ff0722; }

.datesAndcomments.active {
  display: none; }

* {
  font-weight: 100; }

main {
  display: flex;
  align-content: stretch; }

.sideBar {
  height: 100%;
  float: left;
  width: 20%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #2E2F31;
  box-shadow: 2px 2px 2px black;
  border-right: 1px solid #4a4a4a;
  overflow: scroll;
  padding-top: 80px; }
  .sideBar::-webkit-scrollbar {
    background-color: #3a3c3e; }
  .sideBar::-webkit-scrollbar-corner {
    background-color: #3a3c3e; }
  .sideBar::-webkit-scrollbar-thumb {
    background-color: #3d3e41;
    border: 1px solid #4a4a4a; }
  .sideBar h3 {
    text-align: center;
    color: #ffffff;
    border-bottom: 1px solid #4a4a4a;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 100; }
  .sideBar input {
    width: 97%;
    margin-bottom: 5px;
    padding: 5px; }
    .sideBar input::-webkit-input-placeholder {
      text-align: center;
      color: white;
      font-weight: 500; }
  .sideBar ul {
    padding-top: 15px; }
    .sideBar ul li {
      padding: 15px 29px;
      color: white;
      border-bottom: 1px solid #4a4a4a;
      transition: 0.2s ease-in-out; }
      .sideBar ul li:first-child {
        border-top: 1px solid #4a4a4a; }
      .sideBar ul li:first-child {
        border-top: 1px solid #4a4a4a; }
      .sideBar ul li:hover {
        background-color: #2C473E;
        transition: 0.2s ease-in-out;
        border-left: 4px solid #23A76D;
        cursor: hand; }

.logoImg {
  text-align: center; }
  .logoImg img {
    width: 50%;
    margin-bottom: -5px; }

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px solid white; }

.sidebarTag {
  position: absolute;
  padding: 0;
  left: 0;
  color: white;
  text-align: center;
  top: 3%;
  margin-top: -30px;
  background-color: black;
  transition: 0.2s ease-in-out;
  width: calc(20% + 60px);
  padding-right: 60px;
  height: 70px; }
  .sidebarTag:hover {
    transition: 0.2s ease-in-out;
    background-color: #262626; }
  .sidebarTag i {
    color: white; }
  .sidebarTag .logo {
    display: inline-block;
    background: url(../assets/images/bakson-logo-negative.png) no-repeat;
    background-size: 120px;
    background-position: center;
    height: 100%;
    width: 100%;
    background-repeat: none;
    background-color: #2C473E; }
  .sidebarTag span {
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 22px; }

.rightContent {
  background: #2E2F31;
  float: right;
  width: 80%;
  overflow: auto; }

.mainMenu {
  border: 1px solid #4a4a4a;
  background-color: #2E2F31;
  box-shadow: 2px 2px 2px black;
  border-radius: 8px;
  color: white;
  transition: 0.2s ease-in-out; }

.text1 {
  width: 100%;
  border-radius: 8px;
  padding: 4px; }

.cardTab, .dataTabs .informationTabs {
  background-color: #2E2F31;
  display: inline-block;
  padding: 21px 30px 21px 15px;
  border-right: 1px solid #4a4a4a;
  height: auto;
  margin: 0;
  font-size: 16px;
  color: white;
  transition: 0.2s ease-in-out;
  position: relative;
  border-top: 6px solid black; }
  .cardTab:hover, .dataTabs .informationTabs:hover {
    background-color: #36574c;
    transition: 0.2s ease-in-out;
    cursor: hand; }
  .cardTab .closeTab, .dataTabs .informationTabs .closeTab {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 8px;
    transition: 0.2s ease-in-out;
    color: #23A76D; }
    .cardTab .closeTab:hover:hover, .dataTabs .informationTabs .closeTab:hover:hover {
      transition: 0.2s ease-in-out;
      color: #2cd189; }

.menu {
  border-top: #ffffff;
  background-color: #2E2F31; }

.qwerty {
  background-color: #2E2F31;
  border-top: 1px solid #4a4a4a;
  color: white;
  padding-left: 65px;
  border-bottom: 1px solid #4a4a4a;
  padding-bottom: 20px; }
  .qwerty input {
    color: black; }
  .qwerty textarea {
    color: black; }

.qwertyColleft {
  width: 48%;
  float: left;
  padding-top: 10px; }
  .qwertyColleft input {
    width: 40%;
    padding: 5px;
    color: white; }

.qwertyColleftSub {
  width: 64%;
  float: right; }

.qwertyColrightSub {
  width: 65%;
  float: right;
  padding-left: 7px; }

.qwertyColright {
  width: 50%;
  float: left;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 50px; }
  .qwertyColright form textarea {
    display: block;
    width: 103.6%; }
  .qwertyColright textarea {
    display: block;
    width: 100%;
    border-radius: 8px;
    font-weight: 100; }

.activeTab {
  background-color: #2C473E;
  border-top: 6px solid #23a76d;
  transition: 0.1s ease-in-out; }

.active {
  color: red; }

.save {
  padding-bottom: 30px; }
  .save label input {
    transition: 0.2s ease-in-out; }
    .save label input:hover {
      transition: 0.2s ease-in-out; }
  .save label button:first-child {
    background-color: red !important; }

.addName input {
  width: 101%;
  margin-top: 15px;
  font-weight: 100;
  background-color: #2C473E;
  color: white;
  border-radius: 3px;
  padding: 5px;
  transition: 0.2s ease-in-out; }
  .addName input:hover {
    background-color: #1a7d51;
    transition: 0.2s ease-in-out;
    border: 1px solid black; }

.saveButton {
  background-color: #b50000 !important;
  transition: 0.5s ease-in-out !important; }
  .saveButton:hover {
    transition: 0.5s ease-in-out !important;
    background-color: #C64E20 !important; }
  .saveButton:focus {
    border-color: #C64E20 !important;
    box-shadow: 0 1px 1px #C64E20 inset, 0 0 8px #C64E20 !important;
    outline: 0 none !important;
    transition: 0.2s ease-in-out !important; }

.nameClass input {
  width: 100.5%; }

.clear {
  clear: both; }

.datesAndcomments {
  color: white; }
  .datesAndcomments .addDates {
    background-color: #2E2F31;
    padding-left: 15px;
    border-top: 1px solid #4a4a4a;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center; }
    .datesAndcomments .addDates input {
      width: 30%; }
    .datesAndcomments .addDates input[type="submit"] {
      background-color: #2C473E;
      color: white;
      border: none;
      border-radius: 3px;
      transition: 0.2s ease-in-out;
      padding: 5px; }
      .datesAndcomments .addDates input[type="submit"]:hover {
        background-color: #1a7d51;
        transition: 0.2s ease-in-out; }
  .datesAndcomments .dates {
    width: 25%;
    background-color: #2E2F31;
    padding: 10px;
    border-top: 1px solid #4a4a4a;
    border-right: 1px solid #4a4a4a; }
    .datesAndcomments .dates::-webkit-scrollbar {
      background-color: #3a3c3e; }
    .datesAndcomments .dates::-webkit-scrollbar-corner {
      background-color: #3a3c3e; }
    .datesAndcomments .dates::-webkit-scrollbar-thumb {
      background-color: #3d3e41;
      border: 1px solid black; }
    .datesAndcomments .dates input {
      display: block;
      margin-bottom: 5px; }
  .datesAndcomments .typeOfVacation {
    width: 25%;
    background-color: #2E2F31;
    padding: 10px;
    border-top: 1px solid #4a4a4a;
    float: left; }
    .datesAndcomments .typeOfVacation label select {
      height: 41px;
      vertical-align: top;
      box-sizing: border-box;
      font-weight: 100;
      border-radius: 0;
      margin-bottom: 5px; }
  .datesAndcomments .comments {
    width: 25%;
    background-color: #2E2F31;
    padding: 10px;
    float: right;
    border-left: 1px solid #4a4a4a;
    border-right: 1px solid #4a4a4a;
    border-top: 1px solid #4a4a4a; }
    .datesAndcomments .comments::-webkit-scrollbar {
      background-color: #3a3c3e; }
    .datesAndcomments .comments::-webkit-scrollbar-corner {
      background-color: #3a3c3e; }
    .datesAndcomments .comments::-webkit-scrollbar-thumb {
      background-color: #3d3e41;
      border: 1px solid black; }
    .datesAndcomments .comments input {
      display: block;
      margin-bottom: 5px; }
  .datesAndcomments .dateTo {
    width: 25%;
    background-color: #2E2F31;
    padding: 10px;
    border-top: 1px solid #4a4a4a;
    float: left;
    border-right: 1px solid #4a4a4a; }
  .datesAndcomments input {
    width: 100%;
    font-weight: 100;
    margin-bottom: 5px; }
    .datesAndcomments input:disabled {
      background-color: #bcbcbc;
      border-color: 1px solid #3D7663;
      color: #bcbcbc;
      opacity: 0.2; }

.dataTabs .informationTabs {
  border-top: 1px solid #4a4a4a;
  background-color: #2C473E;
  float: left !important; }

.inputSuccess {
  border-color: white; }

.commentsWrap {
  display: flex;
  align-content: stretch; }

.comments input {
  width: 100%; }

.numOfDays {
  padding-top: 10px; }
  .numOfDays input {
    width: 10%;
    padding: 5px;
    margin-top: 5px; }

.datesAndcomments .typeOfVacation select {
  width: 100%; }

.activeSideTab {
  background-color: #2C473E;
  transition: 0.2s ease-in-out;
  border-left: 4px solid #23A76D; }

.arrow:active {
  transition: 0.2s ease-in-out; }

::-webkit-calendar-picker-indicator {
  color: #23A76D; }
  ::-webkit-calendar-picker-indicator:hover {
    background-color: #2E2F31; }

.centerButtons {
  text-align: center; }
  .centerButtons button {
    padding: 5px 103px;
    position: relative;
    left: -23px;
    width: 450px; }
    .centerButtons button i {
      position: relative;
      left: 160px; }
  .centerButtons > form {
    display: inline-block;
    text-align: center; }

.headerTabs {
  text-align: right; }

/*# sourceMappingURL=app.css.map */
