$tint-borderColor : lighten(black, 29%);
$tint-mainBg : #2E2F31;
$tint-closeBtnsBg: #b50000;
$tint-lightBg: #f2f2f2;
$tint-lightMainBg : #2E2F31;
$ting-borderGreen : 1px solid #3D7663;
$tint-lightGreenBg : #2C473E;
$tint-inputError : #cf8300 !important;
$tint-secondaryButtonsColor : #2C473E;
$tint-secondaryButtonsHover : darken(#23A76D, 10%);
$tint-sideBarTagBg : #2C473E;
// #23A76D;
// darken(#2C473E, 5%);